@use 'reset';

.header{
  &__nav{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    & .container{
      display: flex;
      justify-content:space-between;
      align-items: center;
    }
    &__links{
      position: absolute;
      top:98px;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: black;
      padding: .5rem 0;
      visibility: hidden;
      z-index: 999;
      & a{
        color:#e3f2fd;
        text-align: center;
        padding: 1rem 1rem;
        font-weight: bold;
        text-shadow: 20px 15px 7px red;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        &:hover{
          background-size: 100% 2px;
        }
      }
    }
  }
  &__slider{
    & .swiper {
      width: 100%;
      height: 700px;
      min-height: 300px;
    }
    & .swiper-slide{
      & img{
        min-height: 700px;
        object-fit: cover;
      }
    }
    & .swiper-button-prev, .swiper-button-next{
      color: #adabab;
    }
  }
}
.swiper-pagination-bullet-active{
  background-color:#adabab;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
  background-color: #e3f2fd !important;
}
.active{
  visibility: visible;
}


.main{
  text-align: center;
  &__title{
    color: #e3f2fd
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding-top: 4rem;
    &__card{
      background-color: #e3f2fd;
      margin: auto;
      width: 250px;
      height: 480px;
      padding: .2rem;
      border-radius: 10px;
      &:hover{
        cursor: pointer;
        & h4{
          color:#0093a9;
        }
      }
      & span{
        font-weight: bold;
      }
    }
  }
  &__pag{
    padding: 2rem 0;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    & .btnPag{
      padding: 1rem 3rem;
      background-color: #0093a9;
      border-radius: 15px;
      border: transparent;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}


@media (min-width: 768px) {
  .header{
    &__nav{
      &__btn{
        display:none;
      }
      &__links{
        position: relative;
        top:0;
        display: flex;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        padding: 0;
        visibility: visible;
      }
    }
  }
}
@media (min-width: 992px) {
  .header{
      &__slider{
        & .swiper {
          width: 100%;
          height: 100vh;
          min-height: 300px;
        }
        & .swiper-slide{
          & img{
            height: 100vh;
            object-fit: cover;
          }
        }
        & .swiper-button-prev, .swiper-button-next{
          color: #adabab;
        }
      }
  }
}
@media (min-width: 1200px) {

}